<!-- <div class="container mt-5">
    <a href="/owner" class="btn btn-primary mr-2">For Owner</a>
    <a href="/user" class="btn btn-secondary">For User</a>
</div> -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Infinite Horizons</title>
  <link rel="stylesheet" href="css/styles.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
</head>

<body class="main-body">
  <div class="header">
    <div class="upper">
    <nav class="navbar navs navbar-custom navbar-expand-lg pb-0">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Infinite Horizons</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="item nav-link active" aria-current="page" href="index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="item1 nav-link" href="#">Services</a>
            </li>
            <li class="nav-item">
              <a class="item1 nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item">
              <a class="item1 nav-link" href="/signup">Sign Up</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <hr class="rule">
    </div>


    <div class="row">
      <div class="heading col col-md-6">
        <div class="index-text">
          <h1>We help people to get flat & rent with good price</h1>
          <h3 class="description">Join us today and get a sound place to live</h3>
          <div class="feature-button">
              <a href="/owner" class="button">For Owner</a>
              <a href="/user" class="button">For User</a>
          </div>
        </div>
      </div>
      <div class="pictures col col-md-6">
        <img class="rental-image" src="Images/new_image.png">
      </div>
    </div>
  </div>


  <div class="facilities mt-2">
    <h1 class="inflat">What Infinite Horizons provides you</h1>
    <div class="flat-features row">
     
      <div class="flat col-4 text-center">
        <i class="fas fa-home fa-3x mb-3" style="color: rgb(16, 100, 45);"></i>
        <h2 class="head1">Get furnished flats</h2>
        <p class="content">We'll provide you with fully furnished flats with all the basic amentites</p>
        <button class="btn btn-outline-dark btn-rounded btn-rectangle mt-3">Find a Rental</button>
      </div>
      <div class="flat col-4">
        <i class="fas fa-flag fa-3x mb-3"></i>
        <h2 class="head1">Access to Internet</h2>
        <p class="content">You get free access to internet all the time and you only have to pay once</p>
        <button class="btn btn-outline-dark btn-rounded btn-rectangle mt-3">Learn More</button>
      </div>
      <div class="flat col-4">
        <i class="fa-solid fa-car fa-3x mb-3" style = "color:rgb(3, 78, 108)"></i>
        <!-- <i class="fas fa-home fa-3x mb-3" style="color: blue;"></i> -->
        <h2 class="head1">Parking facilities</h2>
        <p class="content">There are parking facilities in the flats we provide so that you can park your vehicles</p>
        <button class="btn btn-outline-dark btn-rounded btn-rectangle mt-3">Get Details</button>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <footer class="footer text-center text-white text-lg-start" style="background-color: #121a1c;">
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-2 p-4">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3 text-secondary"></i>Infinite Horizons
            </h6>
            <p>
              Best place to search for well designed and furnished flats
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Products
            </h6>
            <p>
              <a href="#!" class="text-reset">Angular</a>
            </p>
            <p>
              <a href="#!" class="text-reset">React</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Vue</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Laravel</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Useful links
            </h6>
            <p>
              <a href="#!" class="text-reset">Services</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Pricing</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Orders</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Help</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
            <p><i class="fas fa-home me-3 text-secondary"></i> Pune, India</p>
            <p>
              <i class="fas fa-envelope me-3 text-secondary"></i>
              info@example.com
            </p>
            <p><i class="fas fa-phone me-3 text-secondary"></i> + 01 234 567 88</p>
            <p><i class="fas fa-print me-3 text-secondary"></i> + 01 234 567 89</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: #121a1c;">
      © 2023 Copyright:
      <a class="text-reset fw-bold" href="index.html">Infinite Horizons</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</body>
</html>